<?xml version="1.0" encoding="utf-8"?>

<robot
  name="optimus" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Importing Optimus Front -->
  <xacro:include filename="$(find optimus_front_down)/urdf/optimus_front_down.urdf.xacro" />

  <!-- Importing Optimus Rear -->
  <xacro:include filename="$(find optimus_rear_down)/urdf/optimus_rear_down.urdf.xacro" />

  <link 
    name="base_link">
  </link>

  <joint name="base_optimus_front_joint" type="fixed">
    <origin xyz="0.5 0 0" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="optimus_front_down" />
  </joint>

  <joint name="base_optimus_rear_joint" type="fixed">
    <origin xyz="-0.5 0 0" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="optimus_rear_down" />
  </joint>

  <!-- Bring in simulation data for Gazebo. -->
  <xacro:include filename="$(find optimus)/urdf/optimus.gazebo" />

</robot>