<launch> 

  <include file= "$(find gazebo_ros)/launch/empty_world.launch" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find optimus)/urdf/optimus.urdf.xacro" />
  <param name = "robot" value="optimus"/> 

  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

  <arg name ="init_pose" value="-x 0.0 -y 0 -z 0 -R 0 -P 0 -Y 0"/>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="$(arg init_pose) -urdf -model robot -param robot_description"/>

  <arg name="config" default="visualize" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find optimus)/rviz/$(arg config).rviz"/>

</launch>