<launch> 

  <include file= "$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true" />
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find optimus_front_down)/urdf/optimus_front_down.urdf" />
  <param name = "robot_front" value="optimus_front"/>
  <arg name ="robot_front_init_pose" value="-x 0.51 -y 0 -z 0.45 -R 0 -P 0 -Y 0"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find optimus_rear_down)/urdf/optimus_rear_down.urdf" />
  <param name = "robot_rear" value="optimus_rear"/>
  <arg name ="robot_rear_init_pose" value="-x -0.51 -y 0 -z 0.45 -R 0 -P 0 -Y 0"/>

  <!-- Reading control config file -->
  <rosparam file="$(find optimus)/config/control.yaml" command="load"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> -->

  <!-- Controller spawner   -->
  <node name="controller_spwaner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/" args="optimus_joint_state_controller optimus_FR_outer_wheel_controller optimus_FR_outer_wheel_connector_controller optimus_FL_outer_wheel_controller optimus_FL_outer_wheel_connector_controller optimus_FR_inner_wheel_controller optimus_FR_inner_wheel_connector_controller optimus_FL_inner_wheel_controller optimus_FL_inner_wheel_connector_controller optimus_R_docker_shaft_controller optimus_L_docker_shaft_controller optimus_RR_outer_wheel_controller optimus_RR_outer_wheel_connector_controller optimus_RL_outer_wheel_controller optimus_RL_outer_wheel_connector_controller optimus_RR_inner_wheel_controller optimus_RR_inner_wheel_connector_controller optimus_RL_inner_wheel_controller optimus_RL_inner_wheel_connector_controller" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

  <node
    name="spawn_model_front"
    pkg="gazebo_ros"
    type="spawn_model"
    args="$(arg robot_front_init_pose) -param robot_description -urdf -model robot_front"
    output="screen"/>

  <node
    name="spawn_model_rear"
    pkg="gazebo_ros"
    type="spawn_model"
    args="$(arg robot_rear_init_pose) -param robot_description -urdf -model robot_rear"
    output="screen"/>

    <!--Default node -->
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />

  <arg name="config" default="visualize" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find optimus)/rviz/$(arg config).rviz"/>

</launch>